
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

/* Header */
header{
    height: 100px;
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    
nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.logo{
    width: 200px;
    margin-left: 50px;
}

 nav ul{
    width: 60%;
}
nav li{
    display: inline-block;
    margin-left: 3%;
}
nav li a:hover{
  color: #00b8f5;
}
nav a{
    font-size: 18px;
    color: #101010;
    font-weight: 600;
}

nav .login a{
    margin-right: 20px;
    padding: 10px;
    background-color:#00baf2 ;
    color: #fff;
    border-radius: 50px;
    font-size: 15px;
    position: relative;
    top: -10px;
}
nav .login a:hover{
    background-color: blue;
}
nav .login a i{
    font-size: 2rem;
    position: relative;
    top:8px;
    color: darkblue;
}
nav .login:hover i{
    color:#00baf2 ;
}

.user-logo{
    width: 50px;
    display: none;
}

.user-logo i{
    font-size: 1.9rem;
    color: #00b8f5;
}


/* container */
.container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px 0px;
}


/* movie-info style */
.movie-info{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 30px 10px;
    line-height: 30px;
    
}

.movie-info .movie-image img{
    width: 180px;
    border-radius: 10px;
}

.movie-info h1{
    margin-top: 5px;
}
.movie-info p{
    color: gray;
    margin-top: 10px;
}

.movie-title{
    padding: 10px 15px;
}

.movie-title .trailer{
    padding: 10px 20px;
    background: #012A72;
    border-radius: 30px;
    color: #fff;
    position: relative;
    top: 20px;
}


.show-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}



.show-list .movie-link{
    background-color: #a6dbee;
    padding: 10px 10px;
    border-radius: 5px;
   
}

.show-list .movie-link .active{
    background-color: white;
    border-radius: 5px;
    padding: 8px 10px;
}

.show-list .movie-link a:hover{
    background-color: white;
    border-radius: 5px;
    padding: 8px 10px;
}


.show-list a{
    padding: 10px;
    color:black;
    font-size: 13px;
}


.likes .heart-icon i{
    color: red;
}

.likes small{
    color: gray;
}
.heart-icon{
    font-weight: bold;
}

.likes .like-heart{
    border: 1px solid gray;
    border-radius: 30px;
    position: relative;
    top: -10px;
    margin-right: 10px;
    color: gray;
}

/* date-section */

.movie-show-timing{
    background-color:#f6f6f6 ;
    padding: 20px 10px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.date-section{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    background-color: #f6f6f6;
}

.date-section .month{
    width: 40px;
    height: 50px;
    text-align: center;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #7e7e7e;
    /* color: white; */
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 10px;
}

#month-para{
    color: white;
    letter-spacing: 1px;
    position: relative;
    bottom: 4px;
    font-size: 16px;
}

.date-section .date-box{
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.date-section .active{
    background-color: #00b8f5;
    color: white;
}


.date-section .date-box p{
   color: gray;
   font-size: 12px;
}


.date-section .date-box h3{
    color: black;
}
#para,#head{
    color: white;
}

/* theatre-section */

.theatre-section{
  padding: 20px;
  font-family: Inter, sans-serif;
  width: 85%;
}

.theatre-section .search i{
    font-size: 1.5rem;
    position: relative;
    top: 43px;
    left: 20px;
    opacity: 0.8;
}
.theatre-section .search input{
    width: 100%;
    padding: 20px 50px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.theatre-section .theatre-information{
    
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    padding: 40px 0px;
    border-bottom: 1px solid #eee;
}

.theatre-section .theatre-information h3,p{
    font-size: 18px;
    color: #101010;
    line-height: 24px;
    letter-spacing: -.41px;
}

.theatre-information .more-info a{
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    font-size: 14px;
    color: #646262;
    position: relative;
    top: 20px;
    /* left: 10px; */
}

.show-table{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.show-table .show-time{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 5px;
}

.show-table .show-time h3{
    color: #21c179;
}

.show-table .show-time p{
    color: #7E7E7E;
    font-size: 14px;
    font-weight: 400;
}

/* actors */


.actor-cast{
    padding: 20px 10px;
    overflow-x: scroll;

}

.actor-cast h3{
    margin-bottom: 20px;
}
.actors{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    /* justify-content: start; */
    align-items: center;
}

.actors-image{
  text-align: center;
}

.actors-image img{
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.actors-image p{
    font-size: 16px;
}

/* guide */

.movie-guide{
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.guide{
    display: flex;
    padding: 20px 0px;
}

.guide a i{
   color: gray;
   font-size: 2rem;
   margin-right: 20px;
  
}
.guide span{
    color: gray;
    font-size: 10px;
    font-weight: 600;
}
.guide p{
    font-size: 16px;
}


/* Scrollbar */

    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-track{
        background: white;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #00b8f5;
    }
    

/* Media Queries */

 @media screen and (min-width: 992px) and (max-width: 1199px){
     
   nav ul{
    width: 50%;
   }

  }

   @media screen and (min-width: 768px) and (max-width:991px){

   .logo{
    width: 150px;
    margin-left: 30px;
   }

    nav ul{
    width: 50%;
   }

   .theatre-section{
    width: 100%;
   }
/* 
   .actor-cast{
    overflow: scroll;
   } */
}

 @media screen and (min-width: 576px) and (max-width:767px){
    .logo{
    width: 150px;
    margin-left: 30px;
    }

    .login{
        display: none;
    }

    .user-logo{
        display: block;
        left: 100px;
    }

      .theatre-section{
        width: 100%;
    }
    .theatre-section .theatre-information{
        display: block;
        padding: 50px 0px;
    }

    .show-table{
        position: relative;
        top: 40px;
        left: -100px;
    }

    .single{
        position: relative;
        left: -70px;
    }

    .actors-image img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

   }

   .actors-image p{
    font-size: 8px;
  }
}

@media screen and (max-width:575px){

    header{
        height: 80px;
    }
    
   .logo{
    width: 120px;
    margin-left: 10px;
   }

   nav a{
    font-size: 16px;
    color: #101010;
    font-weight: 600;
}

    .login{
        display: none;
    }

    .user-logo{
        display: block;
        left: 100px;
    }

    .movie-info .movie-image img{
        width: 120px;
    }

    .movie-info h1{
       font-size: 20px;
    }

    .movie-info p{
    font-size: 16px;
   }

   .movie-title .trailer{
    padding: 5px 15px;
    font-size: 16px;
   }

   .show-list .movie-link{
    padding: 5px 5px;
    }

    .show-list .movie-link .active{
    background-color: white;
    border-radius: 5px;
    padding: 6px 10px;
   }

   .show-list .movie-link a:hover{
    background-color: white;
    border-radius: 5px;
    padding: 6px 8px;
   }

    .show-list a{
    padding: 5px;
    font-size: 13px;
    }

   .likes .like-heart{
        font-size: 12px;
        display: none;
    }
   .theatre-section{
        width: 100%;
    }
 .theatre-section .theatre-information{
        display: block;
        padding: 50px 0px;
    }
      .show-table{
        position: relative;
        top: 40px;
        left: -70px;
    }

    .single{
        position: relative;
        left: -70px;
    }


    .actors-image img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

   }

.actors-image p{
    font-size: 8px;
}

}
 

@media screen and (max-width:376px) {

    .show-table .show-time {
     /* margin-left: 20px; */
     position: relative;
     left: 30px;
    }

    
    .show-list{
        padding: 0px 20px;
    }

    .show-list .movie-link {
        padding: 5px;
        width: 210px;
    }

    .likes{
        width:auto;
    }     

    .actors{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
   }
    
   .actors-image {
    width: 130px;
   }

   .actors-image img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
   }

    .actors-image p{
        width: auto;
    }
}