*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter, sans-serif;
     
}

body{
   background:black;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.container h4{
    color: white;
    position: relative;
    top: 40px;
    margin-left: 10px;
}

.close-btn a{
    font-size: 1.3rem;
    color: white;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 20;
    opacity: 0.7;
}
video{
    border-radius: 10px;
}

   @media screen and (min-width: 768px) and (max-width:991px){
    video{
        width: 800px;
        height: 400px;
    }
   }

    @media screen and (min-width: 576px) and (max-width:767px){

    .container .title{
    top: 90px;
    left: 10px;
    }

    .container h4{
       top: 20px;
       font-size: 12px;

    }

    video{
        width: 600px;
        height: 400px;
    }

    }

    @media screen and (max-width:575px){
    .container .title img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}
    
    .container .title{
    top: 70px;
    left: 10px;
    }

    .container h4{
       top: 10px;
       font-size: 9px;
       margin-left: 5px;
    }

    video{
        width: 400px;
        height: 300px;
    }
    }